# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.log
*.swp
*.swo
*~
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
