# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Vite
/dist
/.vite

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
